<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="org.sst.domain.MemberVO" alias="MemberVO"/>
	</typeAliases>
	
	<!-- 데이터 베이스와 어떻게 연결할지 결정 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
				<dataSource type="JNDI">
					<property name="data_source" value="java:comp/env/jdbc/oracle"/>
				</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="org/sst/mapper/MemberMapper.xml"></mapper>
	</mappers>
	
</configuration>
